{% extends 'base.html' %}
{% block content %}
  <div class="card" style="width: 50rem;">
    <img src="{{data_recipe.image}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h1>{{data_recipe.title}}</h1> 
      <form method="POST" action="/recipe/{{recipe_id}}/favorites">
        <button>Add to Favorites</button>
      </form>
      <br>
      <div class="container">
        <div class="row align-items-start">
          <div class="col">
            <h2>Ingredients</h2>
          {% for ingredients in data_recipe['extendedIngredients']%}
          <ul class="list-group">
            <li class="list-group-item">
              <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
              {{ingredients.original}}
            </li>
          </ul>
        {% endfor %}
          </div>
          <div class="col">
            <h2>Steps</h2>
            <ol>
              {% for instruction in data_instructions %}
                {% for step in instruction.steps %}
                <li>
                  {{step.step}}
                </li>
                {% endfor %}
              {% endfor %}
            </ol>
          </div>
    </div>
  </div>
  </div>
{% endblock %}