.navbar {
	background-color: green;
	position: relative;
	margin-bottom: 1rem;
}

.navbar a {
	color: white;
	font-weight: bold;
}

.login-image {
	background-image: url("img_girl.jpg");
	width: 50%;
	position: absolute;
	right: 0px;
	height: 100%;
}

body {
	margin: 0;
}
