.navbar {
	background-color: green;
	position: relative;
	margin-bottom: 1rem;
}

.navbar a {
	color: white;
	font-weight: bold;
}

/* body,
html {
	margin: 0;
	height: 100%;
} */

.fridge_ingredients__heading {
	font-family: 'afternoon_in_stereo_personal_use.ttf';
	color: #018002;
	font-size: 65px;
}

.below_heading {
	font-family: 'CircularStd-Black.otf';
	font-size: 55px;
}
